header {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	font-family: Arial;
}
section { 
	background-color: #f5f5f5;
	border: 1px solid #ccc; padding: 30px;
}
.me {
 background-color: lightblue;

}
.port { 
	background-color: lightgreen; 
}
.service {
	background-color: lightcoral;
}
p {   
 line-height: 1.5;
 font-size: 17px;
}
.s {
	list-style-type: none;
}
ul{
	font-size: 17px;
}
footer{
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}
